/*.3DcssDIV {
  width: 100%;
  height: 100%;
}*/
#dataDiv {
  height: 100%;
}

#Overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3) ;
  z-index: 50;
}

#CornerGUI {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

.panel3D {
  /*text-align: center;*/
  background-color: rgba(0,0,0,0.0);
  display: inline-block;
  /*zoom : 2;*/
  /*width: 350px;*/

  /*color: red;*/
}

.form-control {
  width: 250px;
}

.draggable {
  cursor: move;
}

.resizer {
  position: absolute !important;
  top: initial !important;
  bottom: 0px !important;
  right: 0px;
  margin: 6px;
  cursor: col-resize;
  text-shadow: 0px 0px 10px white;

}

.rotate90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg); // IE9 only
          transform: rotate(90deg);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.panel {
  /*width: 350px;*/
}

.noBottomMargin {
  margin-bottom: 0px !important;
}

.mediaImg {
  width: 100%;
  /*margin: -15px -15px -15px -15px;*/
  /*height: 100%;*/
}

.timeLabel {
  font-size: 1.5em;
}

.smaller {
  font-size: 1em;
}

.nopadding {
  padding: 0px 0px 0px 0px !important;
}

.glyphicon-remove {
  cursor: pointer;
}

.glyphicon-fullscreen {
  margin-left: 10px;
  cursor: pointer;
}


.optionsPanel {
  /*overflow: scroll;*/
  font-size: 0.9em;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  overflow: visible;
  /*background-color: red;*/
}

.inputWrapper {
  border: solid 1px;
  overflow: hidden;
  margin: 0px;
  /*width: 100%;*/
  /*padding: 3px;*/
}

.inputTag {
  float: left;
  /*border-right: solid 1px;*/
}

.inputField {
  float: right;
  width: 50%;
}
