/*.3DcssDIV {
  width: 100%;
  height: 100%;
}*/

.panel3D {
  /*text-align: center;*/
  background-color: white;
  display: inline-block;
  /*width: 350px;*/

  /*color: red;*/
}

.draggable {
  cursor: move;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.panel {
  /*width: 350px;*/
}

.noBottomMargin {
  margin-bottom: 0px !important;
}

.mediaImg {
  width: 100%;
  /*margin: -15px -15px -15px -15px;*/
  /*height: 100%;*/
}

.timeLabel {
  font-size: 1.5em;
}

.glyphicon-remove {
  cursor: pointer;
}

.glyphicon-fullscreen {
  margin-left: 10px;
  cursor: pointer;
}

.optionsPanel {
  /*overflow: scroll;*/
  font-size: 0.9em;
}

.wrapper {
  width: 100%;
  height: 100%;
  font-size: 0.9em;
  overflow: visible;
  /*background-color: red;*/
}

.inputWrapper {
  border: solid 1px;
  overflow: hidden;
  margin: 0px;
  /*width: 100%;*/
  /*padding: 3px;*/
}

.inputTag {
  float: left;
  /*border-right: solid 1px;*/
}

.inputField {
  float: right;
  width: 50%;
}
